@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&family=Roboto+Mono:ital,wght@1,200&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
body{
    background-color: white;
    color: white;
    font-size: 14px;
    font-family: 'Montserrat' , sans-serif;
    margin: 0;
}
.header{
    background-color: grey;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: start;
}
.h1{
    width: 1920px;
    text-align: center;
}
.menu-main {
    list-style: none;
    margin: 40px 0 5px;
    paddIng: 0px 0 5px;
    text-align: center;
  }
  .menu-main li {
      display: inline-block;
  }
  .menu-main li:after {
    color: white;
    display: inline-block;
    vertical-align:top;
}
  .menu-main li:last-child:after {
      content: none;
  }
.menu-main a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
}
.menu-main a, .menu-main a:visited {
      color: white;
}
  
  .menu-main a:before,
  .menu-main a:after {
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #feb386;
    transition: .8s;
}  
.center{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-left: 0px;
    }
    b{
    font-family: 'Roboto Mono' , sans-serif;
    font-size: 72px;
    text-align: center;
    }
    p{
    font-size: 32px;
    }
    .centered{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-left: 0px;
    }
    .btn{
    color: white;
    text-decoration: none;
    display: block;
    width: 180px;
    text-align: center;
    padding: 15px 0;
    margin: 20px 0;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 2px;
    background: transparent;
    text-transform: uppercase;
    margin-left: 0px;
    }
    .bt{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    }
    .p{
    padding: 100px;
    text-align: center;
    }
    .h2{
    padding-left: 50px;
    text-align: center;
    }
    h2{
    text-align: center;
    
    }
    .hr{
    color: black;
    width: 150px;
    padding-left: 900px;
    }
    .circle{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
    }
    .circle1{    
    height: 100px;
    width: 100px;
    border: 3px solid grey;
    border-radius: 70px;
    margin-left:200px ;
    }

    .circle1:hover{
        background-color: red;
        border: 3px solid red;
    }
    .circle2{    
        height: 100px;
        width: 100px;
        border: 3px solid grey;
        border-radius: 70px;
        margin-left:330px ;
        }
        .circle2:hover{
            background-color: red;
            border: 3px solid red;
        }
        .circle3{    
            height: 100px;
            width: 100px;
            border: 3px solid grey;
            border-radius: 70px;
            margin-left:500px ;
            }
            .circle3:hover{
                background-color: red;
                border: 3px solid red;
            }   
    .main{
        color: black;
        text-align: center;
    }
    .text{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        padding-bottom: 100px;
    }
    .text1{
        width: 800px;
        margin-left: 300px;
    }
    .text2{
        width: 800px;
        margin-left: 100px;
    }
    .text3{
        width: 800px;
        margin-left: 200px;
        margin-right: 150px;
    }
    .footer{
        width: 100%;
        height: 500px;
        
        background-color: red;
    }
    .square{
        width: 100%;
        padding-top: 200px;
        padding-bottom: 5   0px;
        display: flex;
        justify-content: center;
    }
    .square1{
        width: 100px;
        height: 100px;
        border-radius: 110px;
        border: 3px solid white;
        margin-right: 30px;
    }
    .square1:hover{
        background-color: white;
    }
    .square2{
        width: 100px;
        height: 100px;
        border-radius: 110px;
        border: 3px solid white;
        margin-right: 30px;
    }
    .square2:hover{
        background-color: white;
    }   
    .square3{
        width: 100px;
        height: 100px;
        border-radius: 110px;
        border: 3px solid white;
        margin-right: 30px;
    }
    .square3:hover{
        background-color: white;
    }
    .square4{
        width: 100px;
        height: 100px;
        border-radius: 110px;
        border: 3px solid white;
    }
    .square4:hover{
        background-color: white;
    }
    .under{
        width: 100%;
        color: white;
        display: flex;
        justify-content: center;
        font-size: 16px;
    }