*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(87, 27, 27, 0.534);;
}
a{
    color: darkblue;
    text-decoration: none;
}
#contact{
    color: rgb(4, 195, 243);
}
li{
    color: darkblue;
}